#footer {
    background: rgba(0, 0, 0, 0.02);
    color: #45505b;
    font-size: 14px;
}

#footer .links {
    list-style-type: none;
    padding: 0 0 0 12px;
    font-size: larger;
    text-align: left;
    margin: auto;
}

#footer .links li {
    padding: 4px;
    cursor: pointer;
}


#footer .left-menu {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

#footer .contact-details {
    text-align: end;
    padding: 24px 12px;
    font-size: 20px;
}

#footer .join-us-form {
    display: flex;
}

#footer .join-us-form button {
    border: none;
    border-radius: 0;
}

#footer .logo {
    width: 90%;
}


#footer .social-links {
    padding: 12px 24px;
}
